{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "class-properties": {}
      }
    ],
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "@emotion"
  ]
}
