{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "class-properties": {}
      }
    ],
    [
      "@emotion/babel-preset-css-prop",
      {
        "autoLabel": "dev-only",
        "labelFormat": "[filename]-[local]"
      }
    ]
  ],
  "plugins": [
    "@emotion"
  ]
}
